.acquainted {
  text-align: center;
  &__primary-header {
    margin: 69px 0 30px;

    font-size: 26px;
    line-height: 31px;
    font-weight: 600;
  }

  &__secondary-header {
    margin: 20px 0 26px;

    font-size: 22px;
    line-height: 36px;
    font-weight: 600;
  }

  &__text {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    &:nth-of-type(2) {
      margin: 29px 0 24px;
    }
  }
}
